name: 4. Build and Deploy to TestFlight
run-name: Build GD (${{ github.ref_name }})
on:
  workflow_dispatch:

  schedule:
#  - cron: "0 6 1 * *" # Builds the app on the 1st of every month at 06:00 UTC
  - cron: "0 6 1 */3 *" # Builds the app on the 1st of every third month at 06:00 UTC

  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-14
    permissions:
      contents: write

    steps:
    - name: Select Xcode Version
      run: "sudo xcode-select --switch /Applications/Xcode_15.4.app/Contents/Developer"

    - name: Checkout repository for building
      uses: actions/checkout@v4
      
      # Install project dependencie
    - name: Install dependencies
      run: bundle install

      # Build signed Loop IPA file
    - name: Fastlane Build & Archive
      run: bundle exec fastlane build_loop
      env:
        TEAMID: ${{ secrets.TEAMID }}
        GH_PAT: ${{ secrets.GH_PAT }}
        FASTLANE_KEY_ID: ${{ secrets.FASTLANE_KEY_ID }}
        FASTLANE_ISSUER_ID: ${{ secrets.FASTLANE_ISSUER_ID }}
        FASTLANE_KEY: ${{ secrets.FASTLANE_KEY }}
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}

      # Upload to TestFlight
    - name: Fastlane upload to TestFlight
      run: bundle exec fastlane release
      env:
        TEAMID: ${{ secrets.TEAMID }}
        GH_PAT: ${{ secrets.GH_PAT }}
        FASTLANE_KEY_ID: ${{ secrets.FASTLANE_KEY_ID }}
        FASTLANE_ISSUER_ID: ${{ secrets.FASTLANE_ISSUER_ID }}
        FASTLANE_KEY: ${{ secrets.FASTLANE_KEY }}
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}

    # Upload Build artifacts
    - name: Upload build log, IPA and Symbol artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: |
          artifacts
          buildlog

